.skip-link {
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	padding: 0 !important;
	position: absolute;
	white-space: nowrap;
	width: 100%;
	z-index: 9999999; // so many Zs
	transform: translateY(-100%);
	transition: transform 0.2s ease-out;

	&:focus-within {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		padding: 0.5rem !important;
		white-space: normal;
		transform: translateY(0%);
	}
}

.skip-link-container {
	position: relative;
}
